
# Binaries ----------------------------------------------------

cmd/server/wiregost-server
cmd/client/wiregost-client


# Large static assets (Packer download/generate) --------------

assets/*.zip
assets/darwin/*.zip
assets/linux/*.zip
assets/windows/*.zip
assets/golang_x_sys.zip
assets/src.zip
assets/*.go

# Packer files generated during static builds
server/assets/a_assets-packr.go
server/generate/a_generate-packr.go


# Version (Makefile generated ) -------------------------------

# client/version/version.go 
# server/assets/version.go

# Ignore all per-language Protobuf generated code
**.pb.go    
proto/v1/gen 
