[Unit]
Description=Wiregost (Golang Exploitation Framework)
ConditionPathExists=/home/para/.pentest/wiregost/server/wiregost
After=network.target

[Service]
Type=simple
User=para
Group=para
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/home/para/.pentest/wiregost
ExecStart=/home/para/.pentest/wiregost/server/wiregost --name=wiregost

[Install]
WantedBy=multi-user.target
