# General
[Unit]
Description=Wiregost (Golang Exploitation Framework)
ConditionPathExists=$PATH_TO_C2_BINARY
After=network.target

[Service]
Type=simple
User=$USER
Group=$GROUP
LimitNOFILE=1024

# Run Management
Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

# File paths
WorkingDirectory=$PATH_TO_C2_BINARY
ExecStart=$PATH_TO_C2_BINARY --name=wiregost

[Install]
WantedBy=multi-user.target
