# General
[Unit]
Description=Wiregost Data Service 
ConditionPathExists=$PATH_TO_DATA_SERVICE_BINARY
After=network.target

[Service]
Type=simple
User=$USER
Group=$GROUP
LimitNOFILE=1024

# Run Management
Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

# File paths
WorkingDirectory=$PATH_TO_DATA_SERVICE_BINARY
ExecStart=$PATH_TO_DATA_SERVICE_BINARY --name=wiregost

[Install]
WantedBy=multi-user.target
