# Ignore all logs

#------- Python Files & Directories --------#
# Byte-compiled, optimized, DLL
__pycache__/
*.py[cod]


#------------ Config Files ----------------#
/src/EffectiveCouscous/resources/etc/EffectiveCouscous.conf


# Notes -----------------------------------#
/transform_categorization_test.txt


# Backup Files -----------------------------#
/backup/
